body {
    box-sizing: border-box;
    margin: auto;
}
nav, ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
nav, li {
    margin-right: 40px;
}
nav, a {
    font-size: 1.3em;
    color: #181818;
    padding-bottom: auto;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: cornflowerblue;
    align-items: center;  
}
header, h2 {
    padding-left: 15px;
}
section {
    padding: 10px;
}
#profile {
    display: block;
    margin: auto;
}
#profil {
    background-color: antiquewhite;
}
#block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.affiche:hover {
    -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
.projet {
    margin-left: 0%;
    margin-bottom: 0%;
    padding-top: 15px;
}
#contact {
    background-color: antiquewhite;
}
.formulaire1 {
    display: flex;
    justify-content: space-between;
}
.barre {
    width: 900px;
    padding: 10px;
}
#formulaire3 {
    display: flex;
    justify-content: space-between;   
}
.grbarre {
    width: 918px;
}
#bouton {
    background-color: green;
    border-radius: 10px;
    border-width: 0ch;
    color: #eeeeee;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}
#buton{
    display: flex;
    justify-content: flex-end;
}
footer {
    background-color: cornflowerblue;
}
#reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
    padding-bottom: 50px;
}
#ecart1 {
    margin-right: 5px;
}
#ecart2 {
    margin-top: 2px;
}
#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding-top: 100px;
}
#carrousel {

            padding: 0%;
}
@media screen and (max-width: 1000px) {
    body {
        width: 110%;
    }
}
@media screen and (max-width: 913px) {
    body {
        width: 120%;
    }
    .grbarre {
        width: 300px;
    }
    .barre {
        width: 300px;
        padding: 10px;
    }
}
@media screen and (max-width: 800px) {
    body {
        width: 140%;
    }
    
}
@media screen and (max-width: 426px) {
    body {
        width: 230%;
    }
}
@media screen and (max-width: 376px) {
    body {
        width: 260%;
    }
}
@media screen and (max-width: 321px) {
    body {
        width: 300%;
    }
}